body {
    background-color:#EAF6F6;
}
hr {
    
    border-style: none;
    border-top: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
}
img {
    height:300px;
}
h1 {
    color: #85CDFD;
}
h3 {
    color: #85CDFD;
}